.footer {
    text-align: center;
    background-color: lightgray;
  }
  
.align-center {
    text-align: center;
}

.content {
  height: 100vh;
}
 

.wrap_header {
  margin-bottom: 50px;
}

._footer {
  margin-top: 50px;
}

.select-box {
  width: 150px;
  border: 2px black solid;
}
 
